.form-inline {
    display: table;
    font-size: 14px;
}
 
.form-inline .form-pair {
    display: table-row;
}
 
.form-inline .form-key {
    display: table-cell;
    vertical-align: top;
    padding: 6px 16px 0px 10px;
    font-weight: bold
}
 
.form-inline .form-value {
    display: table-cell;
    padding-top: 6px;
}
 
.notes-grid-container {
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}
 
.calculos-grid-container {
    background-color:rgba(240, 255, 255, 0.342);
    position: fixed;
    top: 500px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}
 
.riesgos-grid-container {
    background-color:rgba(240, 255, 255, 0.342);
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}
 
.data-grid-container {
    background-color:rgba(240, 255, 255, 0.342);
    position: fixed;
    top: 200px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}
 
.componentes-grid-container {
    background-color:rgba(240, 255, 255, 0.342);
    position: fixed;
    top: 200px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}
 
.escenarios_online-grid-container {
    background-color:rgba(240, 255, 255, 0.342);
    top: 200px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}
 
.notes-grid {
    height: 50%;
}
 
#bottons{
    top: 0px;
    left: 0px;
    right: 0;
    bottom: 0;
    width: 10%;
    height: 10%;
}
 
.sample-container{
    position: absolute;
    top: 1%;
    left: 1%;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
 
.sample-container li {
    border-top: 1px solid #ddd;
    padding: 1% 0;
    margin: 0px 0 0 0;
    content: "•";
    font-size: whatever; /* or whatever */
}
 
 
#vss-extension{
    position: absolute;
    overflow-y: scroll;
    top: 0%;
    left: 0%;
    right: 0;
    bottom: 0;
    width: 98%;
    height: 100%;
    margin-top: -20px;
}
 
#vss-extension-seg{
    position: absolute;
    overflow-y: scroll;
    top: 0%;
    left: 0%;
    right: 0;
    bottom: 0;
    width: 98%;
    height: 100%;
    margin-top: -20px;
}
 
body {font-family: Arial, Helvetica, sans-serif;}
 
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
 
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}
 
/* The Close Button */
.close_online {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
 
.close_online:hover,
.close_online:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
 
.close_batch {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
 
.close_batch:hover,
.close_batch:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
 
.close_interactivo {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
 
.close_interactivo:hover,
.close_interactivo:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}